body {
    display: flex;
    flex-direction: row;
    /*background-image:url("images/bckg.jpg");*/
    
    
}

p {
    
    font: "Press Start 2P";
    


}

canvas {
    border: 1px solid black;
    
  }

