body{
    display: flex;
    flex-direction: row;
    background-image:url("images/bckg.jpg");
    font-style: "Press Start 2P";


}

div.instructions{
display: block;
border-radius: 2px;



}

canvas {
    border: 1px solid black;
    /*background-image: url("images/life_choice_02 640.png");*/
  }

